numpy~=2.3.4
matplotlib~=3.10.7
seaborn~=0.13.2
scikit-learn~=1.7.2
tensorflow~=2.20.0
kagglehub~=0.3.13
keras~=3.10.0
torchvision~=0.22.0
opencv-python~=4.10.0.84
pandas~=2.3.3
fastapi~=0.95.2
pydantic~=1.10.14
ptl~=0.3.0
requests~=2.31.0
python-dotenv~=1.0.1
uvicorn[standard]~=0.23.2